@import 'tailwindcss';

@theme inline {
  --font-bebas-neue: var(--font-bebas-neue);
  --font-inter: var(--font-inter);

  --color-custom-light: #f9f9f9;
  --color-custom-blue: #0865c9;
  --color-custom-red: #d5233f;
}

.h-screen-wo-topbar {
  height: calc(100vh - 80px);
}

body {
  width: 100%;

  background-color: #eee;
}
