@import 'tailwindcss';

@theme inline {
  --font-bebas-neue: var(--font-bebas-neue);

  --color-custom-light: #f9f9f9;
  --color-custom-blue: #0865c9;
  --color-custom-red: #d5233f;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #eee;
}
