version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: lostfound-postgres
    environment:
      POSTGRES_USER: lostfound
      POSTGRES_PASSWORD: lostfoundpass
      POSTGRES_DB: lostfound_db
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    restart: always

  backend:
    build: ./backend
    container_name: lostfound-backend
    environment:
      DATABASE_URL: postgresql://lostfound:lostfoundpass@postgres:5432/lostfound_db
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    restart: always

  frontend:
    build: ./frontend
    container_name: lostfound-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
