version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: lostfound
      POSTGRES_PASSWORD: lostfoundpass
      POSTGRES_DB: lostfound_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
    networks:
      - lf_net

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://lostfound:lostfoundpass@postgres:5432/lostfound_db
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    networks:
      - lf_net

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - lf_net

volumes:
  pgdata:

networks:
  lf_net:
    driver: bridge
