services:
  backend:
    build:
      context: ./backend
    container_name: findnation-backend
    restart: always
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://findnation:findnationpass@postgres:5432/findnation_db"
    ports:
      - "8000:8000"
    networks:
      - findnation-net

  postgres:
    image: postgres:15
    container_name: findnation-postgres
    restart: always
    environment:
      POSTGRES_USER: "findnation"
      POSTGRES_PASSWORD: "findnationpass"
      POSTGRES_DB: "findnation_db"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      - findnation-net

networks:
  findnation-net:

volumes:
  pgdata:


# version: "3.8"

# services:
#   postgres:
#     image: postgres:15
#     environment:
#       POSTGRES_USER: lostfound
#       POSTGRES_PASSWORD: lostfoundpass
#       POSTGRES_DB: lostfound_db
#     volumes:
#       - pgdata:/var/lib/postgresql/data
#       - ./db/init:/docker-entrypoint-initdb.d:ro
#     ports:
#       - "5432:5432"
#     networks:
#       - lf_net

#   backend:
#     build: ./backend
#     environment:
#       DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
#     depends_on:
#       - postgres
#     ports:
#       - "8000:8000"
#     networks:
#       - lf_net

#   frontend:
#     build: ./frontend
#     depends_on:
#       - backend
#     ports:
#       - "3000:3000"
#     networks:
#       - lf_net

# volumes:
#   pgdata:

# networks:
#   lf_net:
#     driver: bridge
